<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <h1
      id="A"
      style="background-color: royalblue; color: whitesmoke; padding: 10px"
    >
      Hey Folks,Paramasivan This Side!
    </h1>
  </body>
  <script>
    alert("Information Successfully Fetched From Server!");
  </script>
</html> --><!--Initial Stuff Completed-->

<!--TO Sending HTML RESPONSE Fundamentals #13PA-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="home">Home</a>
      <a href="about">Abour</a>
      <a href="contact">Contact</a>
      <a href="Product">Product</a>
    </div>
    <div>
      <p>{{%CONTENT%}}</p>
    </div>
  </body>
</html>
